.App {
  text-align: center;
}

.header {
  border-bottom: 1px solid black;
}

.header-info{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: aliceblue;
  
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: aliceblue;
}

.main {
  position: relative;
  height: 500px;
  border-bottom: 1px solid black;
}

.left {
  position: absolute;
  width: 70%;
  left: 0;
  top: 0;
  height: 500px;
  color:aliceblue;
}

.right {
  position: absolute;
  width: 30%;
  right: 0;
  top: 0;
  height: 500px;
  color: aliceblue;
}

.footer{
  color: aliceblue;
}

.image{
  width: 800 px;
  height: 600 px;
  border-radius: 10px;
}