@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;1,100;1,300;1,500;1,700&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-image: url('./utils/pictures/skyscraper.jpg');
  background-attachment: fixed;
  background-position: center ;
  background-size: cover;
  background-repeat: no-repeat;
}
